# Experiment  5: Sets and Dictionaries in Python
### Name: Lehalyaa L
### PRN: 25070123176
### Batch: ENTC - A2

# Operations in Sets

In [9]:
# Creation of set

f_set = {'boots', 'flip flops', 'sneakers', 'shoes', 'sandals', 'formal shoes'}
print(f_set)

{'sneakers', 'formal shoes', 'boots', 'flip flops', 'sandals', 'shoes'}

In [10]:
# Duplicates not allowed
f_set = {'boots', 'flip flops', 'sneakers', 'shoes', 'boots', 'boots'}
print(f_set)

{'sneakers', 'boots', 'flip flops', 'shoes'}

In [11]:
# The values True and 1 are considered same value in sets
# same is applicable for 0 and false

f_set = {'correct', 'wrong', 'incorrect', True, 1 , 2}
print(f_set)

{'wrong', 2, 'correct', True, 'incorrect'}

In [12]:
# A set with integers, Strings, and Boolean Values

s_set = {"ENTC", 2025, True, 1 , False, 18.7}
print(s_set)

{False, True, 18.7, 2025, 'ENTC'}

In [13]:
# To check Membership

f_set = {'boots', 'flip flops', 'sneakers', 'shoes', 'sandals', 'formal shoes'}
print("boots" in f_set)
print(True in f_set)

True
False

In [14]:
# Once a set is created, we can't replace its items but we can add new items

f_set = {'boots', 'flip flops', 'sneakers', 'shoes', 'sandals', 'formal shoes'}
f_set.add("slippers")
print(f_set)

{'sneakers', 'slippers', 'formal shoes', 'boots', 'flip flops', 'shoes', 'sandals'}

In [15]:
# Remove items from the set

f_set.remove("shoes")
print(f_set)

{'sneakers', 'slippers', 'formal shoes', 'boots', 'flip flops', 'sandals'}

In [16]:
# Set Operations

first = {5,10,15,20,25,30}
second = {"Lehalyaa", "Aditi", 10, 30 , 3}

print("The union of two sets is: ", first | second)
print("The intersection of two sets is: ", first & second)
print("The difference of two sets is: ", first - second)
print("The Symmetric Difference of two sets is: ", first ^ second)

The union of two sets is:  {3, 5, 'Lehalyaa', 10, 15, 20, 25, 'Aditi', 30}
The intersection of two sets is:  {10, 30}
The difference of two sets is:  {25, 20, 5, 15}
The Symmetric Difference of two sets is:  {3, 5, 'Lehalyaa', 15, 20, 25, 'Aditi'}

In [17]:
# Frozen Set

frozen = frozenset({"boots", "flip flops", "sneakers", "shoes", "sandals", "formal shoes"})
print(frozen)
print(type(frozen))

frozenset({'sneakers', 'formal shoes', 'boots', 'flip flops', 'shoes', 'sandals'})
<class 'frozenset'>

In [18]:
# Adding or removal of elements are not allowed in frozen set

print("Values can be added to frozen set by union \n", frozen | {"slippers"})
frozen.add("slipper")
frozen.remove("boots")

Values can be added to frozen set by union
 frozenset({'sneakers', 'slippers', 'formal shoes', 'boots', 'flip flops', 'shoes', 'sandals'})

AttributeError: 'frozenset' object has no attribute 'add'

## Problem Statements

In [56]:
# Problem Statement - 1   -   Write a Program to store the participant names and display only unique participants

participant = ["Lehalyaa", "Aditi", "Gayatri", "Bedang", "Arjit","Dev", "Ayush", "Kushal"]
unique_participants = set(participant)
print("The unique participants are: \n", unique_participants)

The unique participants are:
 {'Ayush', 'Dev', 'Lehalyaa', 'Kushal', 'Arjit', 'Bedang', 'Gayatri', 'Aditi'}

In [57]:
# Problem Statement - 2   -    Find the common subjects chosen by both students:

first_sub = {"Physics", "chemistry", "maths", "Computer Science", "English"}
second_sub = {"Biology", "Physics", "chemistry", "maths", "french"}
third_sub = {"Physics", "chemistry", "Biology", "English"}

print("The Common subjects chosen by the students are: \n", first_sub & second_sub & third_sub)

The Common subjects chosen by the students are:
 {'Physics', 'chemistry'}

In [58]:
# Problem Statement - 2   -   One set contains students in the cricket club, another in the Football Club.
# Find students who are
# 1. In both clubs
football = ["Aditi", "Bedang", "Catherine", "Dhvan", "Eshon", "Gayatri","Lehalyaa"]
cricket = ["Zareena", "Arjit", "Bedang", "Gayatri", "Lehalyaa", "Mary"]
athletics = ["Lehalyaa", "Arjit", "Gayatri", "Dhvan", "Eshon", "Rahul"]
football_set = set(football)
cricket_set = set(cricket)
ath_set = set(athletics)
print("The students who are in football and cricket clubs are: \n", football_set & cricket_set)
print("The students in cricket and athletic clubs: \n", cricket_set & ath_set)
print("The students in football and athletic clubs: \n", football_set & ath_set)
print("Students in all clubs: \n", football_set & cricket_set & ath_set)

# 2. In only one club
print("The students who are in either football or cricket: \n",cricket_set ^ football_set)

The students who are in football and cricket clubs are:
 {'Lehalyaa', 'Gayatri', 'Bedang'}
The students in cricket and athletic clubs:
 {'Arjit', 'Lehalyaa', 'Gayatri'}
The students in football and athletic clubs:
 {'Eshon', 'Lehalyaa', 'Gayatri', 'Dhvan'}
Students in all clubs:
 {'Lehalyaa', 'Gayatri'}
The students who are in either football or cricket:
 {'Mary', 'Catherine', 'Arjit', 'Dhvan', 'Aditi', 'Zareena', 'Eshon'}

In [59]:
# Problem Statement   -   4   -   Given is a set of all students and a set of present students. find the students who are absent

all_students = {"shin Chan", "Nobita", "ninja hattori", "Doraemon", "Suzuka", "Heemavari", "Boe", "Kazama", "Sunio", "jyan", "Stefan", "Damon", "Elena", "Bonnie"}
present_students = {"Stefan", "Elena", "Bonnie", "shin Chan", "Nobita", "ninja hattori"}
absent_students = all_students - present_students
print("The absent students are: \n", absent_students)

The absent students are:
 {'jyan', 'Sunio', 'Damon', 'Heemavari', 'Boe', 'Kazama', 'Suzuka', 'Doraemon'}

In [60]:
# Problem Statement   -   5   -   A set contains valid Course Codes. Remove the discontinued course code from the set

course_codes = {"C45036", "AE54301", "IE67854", "DC2309", "ME4286", "LK8495", "EA5783"}
course_codes.remove("DC2309")
print("The refreshed Courses are: \n", course_codes)

The refreshed Courses are:
 {'LK8495', 'IE67854', 'ME4286', 'C45036', 'AE54301', 'EA5783'}

# Operations in Dictionaries

In [61]:
# Creation of Dictionary

stu_data = {
    "Name": "Lehalyaa L", "PRN" : 25070123176, "Batch": "A2", "branch": "ENTC"
}
print(stu_data)

dict1  # printing without using the print keyword

{'Name': 'Lehalyaa L', 'PRN': 25070123176, 'Batch': 'A2', 'branch': 'ENTC'}

{'Name': 'Lehalyaa L',
 'PRN': 25070123176,
 'Batch': 'A2',
 'branch': 'ENTC',
 'Marks': 95}

In [62]:
# Retrieving values from Dictionary

stu_data = {
    "Name": "Lehalyaa L", "PRN" : 25070123176, "Batch": "A2", "branch": "ENTC"
}
print("The PRN of the student is : ", stu_data["PRN"])

The PRN of the student is :  25070123176

In [63]:
# Dictionary takes the latest value for key. It will not allow duplicates

stu_data = {
    "Name": "Lehalyaa L", "PRN" : 25070123176, "Batch": "A2", "branch": "ENTC", "Marks": 90, "Marks": 95
}
print("The latest Dictionary is: \n", stu_data)

The latest Dictionary is:
 {'Name': 'Lehalyaa L', 'PRN': 25070123176, 'Batch': 'A2', 'branch': 'ENTC', 'Marks': 95}

In [64]:
# Length of key value pairs

print("The number of elements in this dictionary is: ", len(stu_data))

The number of elements in this dictionary is:  5

In [22]:
# Changing or adding key vale pairs in dictionary

stu_data = {
    "Name": "Lehalyaa L", "PRN" : 25070123176, "Batch": "A2", "branch": "ENTC"
}
stu_data["Year"] = 2025
print("Updated Student data : \n", stu_data, "\n")

print("The values of the dictionary: \n", stu_data.values()) # printing only the values

Updated Student data :
 {'Name': 'Lehalyaa L', 'PRN': 25070123176, 'Batch': 'A2', 'branch': 'ENTC', 'Year': 2025}

The values of the dictionary:
 dict_values(['Lehalyaa L', 25070123176, 'A2', 'ENTC', 2025])

In [23]:
# Retrieval of  values

brand = {"Puma" : "Shoes", "Nike" : "Spikes", "Gucci" : "Clothing", "Sonata" : "Watches"}
print("Sonata", brand["Sonata"])

Sonata Watches

In [24]:
# Adding and Updating Values

stu_data = {
    "Name": "Lehalyaa L", "PRN" : 25070123176, "Batch": "A2", "branch": "ENTC"
}
stu_data["Year"] = 2025
stu_data["branch"] = "AIML"
print("Updated Student data : \n", stu_data, "\n")

Updated Student data :
 {'Name': 'Lehalyaa L', 'PRN': 25070123176, 'Batch': 'A2', 'branch': 'AIML', 'Year': 2025}

In [27]:
# Removing Elements

stu_data.pop("Batch")
print("After Removal of the elements: \n", stu_data)

After Removal of the elements:
 {'Name': 'Lehalyaa L', 'PRN': 25070123176, 'Year': 2025}

In [30]:
''' Problem Statement - 1 - A Dictionary stores product name and their prices.
Write a python Program to update the price of a given product.'''

product = {"Rice" : 1050, "Oil" : 750, "Water Bottle": 400, "Notebook" : 100,
           "Pens" : 50, "Markers" : 50}
print("Original List: \n", product, "\n")
product["Pens"] = 30
print("Updated list: \n", product)

Original List:
 {'Rice': 1050, 'Oil': 750, 'Water Bottle': 400, 'Notebook': 100, 'Pens': 50, 'Markers': 50}

Updated list:
 {'Rice': 1050, 'Oil': 750, 'Water Bottle': 400, 'Notebook': 100, 'Pens': 30, 'Markers': 50}

In [32]:
''' Problem Statement - 2 - Write a Python Program to search for a student's marks using the name
entered, if the student is not found, Display a suitable message'''

marks = {"Lehalyaa" : 90, "Aditi" : 95, "Gayatri" :90, "Bedang" : 93, "Arjit" : 65, }
name = input("Enter the name of the student: ")

if name in marks:
    print("The marks of", name, "are", marks[name])
else:
    print("The student name isn't present in the Directory")

Enter the name of the student: Neha
The student name isn't present in the Directory

In [38]:
# Problem statement - 2  using get() function

name = input("Enter the name of the student: ")
print(marks.get(name, "Student Name not found in the Directory"))

Enter the name of the student: Lehalyaa
90

In [52]:
''' Problem Statement - 3 - A Ditionary stores usernames and passwords. Write a
Python program to validate user login'''

user_pass = {"Lehalyaa" : 123456, "Aditi0" : "cutie_pie", "Gayatri" : "ping_pong", "Arjit" : 98416647}
user = input("Enter the username: ")
password = input("Enter the password: ")

if user in user_pass:
  if user_pass[user] == str(password) or user_pass[user] == int(password):
    print("\n Username and Password are verified, Login Successful")
  else:
    print("\n Password is Incorrect, Re- enter")
else:
  print("\n Both Username and password are incorrect")

Enter the username: Lehalyaa
Enter the password: 123456

 Username and Password are verified, Login Successful

In [55]:
''' Problem Statement - 4 - A Dictionary stores student names and marks. Write a
Python program to find the student who scored the highest marks'''

marks = {"Lehalyaa" : 90, "Aditi" : 95, "Gayatri" :90, "Bedang" : 93, "Arjit" : 65, }
max_stu = max(marks, key = marks.get)
print("Student with Highest marks: ", max_stu)
print("The highest marks are: ", marks[max_stu])

Student with Highest marks:  Aditi
The highest marks are:  95